/* Write your code here. */
.bg-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #0f172a;
  font-family: "Roboto";
  font-size: 40px;
  text-align: center;
}
.card {
  background-color: #cffafe;
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image {
  height: 130px;
  width: 130px;
  padding-top: 10px;
}
.heading1 {
  color: #1e293b;
  font-size: 25px;
  font-family: "Roboto";
}
.paragraph {
  color: #1e293b;
  font-family: "Roboto";
  font-size: 20px;
  text-align: center;
}
.imageWatch {
  height: 100px;
  width: 80px;
}
